{# home/templates/home/home.html #}
 
{% extends 'main.html' %}
 
{% block content %}
 
<div class="container">
    <div class="card">
        <h2>Our Mission</h2>
        <p>We help Farmers grow using technology, AI, and modern web systems.</p>
    </div>
    <div class="card">
        <h2>What We Do</h2>
        <ul>
            <li>Connecting Farmers</li>
            <li>Connecting Buyers</li>
            <li>Listing Farm Produce</li>
            <li>Data Analytics Dashboards</li>
        </ul>
    </div>
</div>
 
{% endblock content %}
