{% extends 'main.html' %}
{% block content %}

  <!-- Main Section -->
  <main class="singleProject my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <h3 class="singleProject__subtitle">Tools & Categories</h3>

          <div class="singleProject__toolStack">
            <!-- Categories -->
            {% for category in product.categories.all %}
            <span class="tag tag--pill tag--sub tag--lg">
              <small>{{ category.name }}</small>
            </span>
            {% endfor %}
          </div>

          {% if product.contact_link %}
          <a class="singleProject__liveLink" href="{{product.contact_link}}" target="_blank">
            <i class="im im-external-link"></i>Contact Link
          </a>
          {% endif %}

          {% if product.farm_link %}
          <a class="singleProject__liveLink" href="{{product.farm_link}}" target="_blank">
            <i class="im im-external-link"></i>Farm Link
          </a>
          {% endif %}
          
          
        </div>
        <div class="column column--2of3">
          <img class="singleProject__preview" src="{{ product.imageURL }}" alt="portfolio thumbnail" />
          <a href="{% url 'user_profile' product.owner.id %}" class="singleProject__developer">
            By {{product.owner.name}}
          </a>
          <h2 class="singleProject__title">{{ product.title }}</h2>
          <h3 class="singleProject__subtitle">About the Project</h3>
          <div class="singleProject__info">
            {{ product.description }}
          </div>

          <div class="comments">
            <h3 class="singleProject__subtitle">Feedback</h3>
            <h5 class="project--rating">
              {{product.vote_ratio}} Postitive Feedback ({{product.vote_total}} 
              Vote{{product.vote_total|pluralize:"s"}})
            </h5>

            {% if request.user.profile.id in product.reviewers %} {# if the logged-in user has already submitted a review for this product, show a message instead of the review form #}
                <p>You have already submitted a review for this product. Thank you for your feedback!</p>

                {% elif request.user.profile == product.owner %} 
                <p>You cannot Review your own Work!!</p>

                {% elif request.user.is_authenticated %}
                <form class="form" action="{% url 'single-product' product.id %}" method="POST">
                  {% csrf_token %}
                  {% for field in form %}
                  <div class="form__field">
                    <label for="formInput#textarea">{{field.label}}</label>
                    {{field}}
                  </div>
                  {% endfor %}
                  <input class="btn btn--sub btn--lg" type="submit" value="Add Review" />
                </form>
                {% else %}
                <a href="{% url 'login' %}?next={{request.path}}">Please Login to leave a Review</a>

            {% endif %}


            <div class="commentList">

              {% for review in product.review_set.all %} {# loop through all reviews for the product #}
              {% if review.body %} {# only display reviews that have a body #}  
              <div class="comment">
                <a href="{% url 'user_profile' review.owner.id %}">
                  <img class="avatar avatar--md"
                    src="{{review.owner.profile_image.url}}" alt="user" />
                </a>
                <div class="comment__details">
                  <a href="{% url 'user_profile' review.owner.id %}" class="comment__author">{{review.owner.name}}</a>
                  <p class="comment__info">{{review.body|linebreaksbr}} {# linebreaksbr gives a space #}  </p>
                </div>
              </div>
              {% endif %}
              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>


{% endblock content %}
